/* HEADER  */
.Header {
  background-color: blue;
  width: 100%;
  height: 100px;
  display: flex;

  
}

.navbar {


  background-color: rgb(0, 255, 115);
  ;

}
.logoMarvel {
  height: 45px;
  border-radius: 4px;
}



/* HOME PAGE - CHARACTERS */




/* COMICS */




/* FAVORITES */



